/* css reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
body{font: 14px/1.5 Helvetica,sans-serif}
body{
  font-size: 15px;
  background: white;
}
/* ----------header区域---------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}
/* topBar */
section.topBar{
  background: #D43C33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}
section.topBar .logo>svg{
  width: 142px;
  height: 25px;
  vertical-align: top;
}
section.topBar a{
  color: white;
  line-height: 20px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 11px;
}
/* topTabs */
section.topTabs .topTabsNav{
  display: flex;
  border-bottom: 1px solid #CCCCCC
}
section.topTabs .topTabsNav > li{
  width: 33.333333%;
  text-align: center;
  line-height: 20px;
  position: relative;
}
section.topTabs .topTabsNav > li > .text{
  padding: 10px 5px;
  display: inline-block;
  position: relative;
  top: 0;
  border-bottom: 2px solid transparent;
}
section.topTabs .topTabsNav > li > .text{
  padding: 10px 5px;
  padding-bottom: 8px;
  display: inline-block;
  position: relative;
  top: 0;
}
section.topTabs .topTabsNav > li.active > .text{
  color: #D43C33;
  border-bottom-color: #D43C33;
}
